* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  border: 1px solid red;
}

/**/
.container {
  padding: 10px 20px;
  background: lightcyan;
  height: 100%;
}

.index {
  background-image: url('@/assets/image/main_clock.png');
  background-repeat: no-repeat;
  background-position: 80% 50%;
  background-color: #4d5dfa;
}
/**/
